*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container p{
    position: fixed;
    justify-self: center;
    align-self: flex-start;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 700;
}
.container button{
    width: 2rem;
    height: 2rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
}

.container button:hover{
    background-color: #888;
}

#cpf-display{
    height: 3rem;
    width: 20%;
    padding: 10px;
    font-size: xx-large;
    font-weight: 600;
    color: darkblue;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}

#btn-copy{
    height: 3rem;
    width: 3rem;
    position: fixed;
    left: 53.6%;
    top: 46.9%;
    transform: translateX(50%);
}

#btn-refresh{
    height: 3rem;
    width: 3rem;
    margin-left: 40px;
}